body {
  background-image: url('image/Design_Museum_A4-A5-A6_bg.jpg');
}

.container {
  width: 980px;
  margin: 0 auto;
}

.row {
  *zoom:1;
  border: 1px dashed green; 
}

.row:before,
.row:after {
  content:" ";
  display: table;
}

.row:after {
  clear: both;
} 

.box {
  box-sizing: border-box;
}

.container > *{
  outline: 1px dotted green;
}

.container > * > *{
  outline: 1px dotted red;
}

.container > * > * > *{
  outline: 1px dotted blue;
}

.container > * > * > * > *{
  outline: 1px dotted magenta;
}

.box1 {
  height: 28px;
}

.header {
  float: right;
  width: 240px;
  text-align: center;
  font-size: 13px;
  padding: 5px 5px;
  background-color: #ffd61f;
  margin: 0;
}

.row2 {
  height: 80px;
  background-color: #fff;
  padding: 25px 15px 0 22px;
}

.box2 {
  width: 940px;
  display: block;
}

.imagelink {
  width: 150px;
  height: 40px;
  display: block;
  float: left;
}

.txt {
  font-style: italic;
  color: #b2b2b6;
  display: inline-block;
  padding-left: 18px;
}

.main {
  float: right;

}

.main > li {
  float: left;
  padding: 0 10px;
}

menu > li {
  list-style: none;
  position: relative;
}

menu > li > a {
  text-decoration: none;
  display: block;
  color: #b2b2b6;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  transition: all 1000ms;
    -moz-transition: all 1000ms;
}

menu > li > a:hover {
  color: #000;
  transition: all 700ms;
    -moz-transition: all 700ms;
}

.main > li > .first {
  color: #000;
}

.row3 {
  height: 10px;
}

.row4 {
  height: 450px;
}

.box3 {
  height: 430px;  
  width: 710px;
  float: left;
}

.box4 {
  margin-left: 710px;
  height: 430px;
}



