*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #F5F4F2;
}

.container{
  width: 960px;
  margin: 0 auto;
  /*background-image: url('images/template.png');*/
  background-repeat: no-repeat;
  min-height: 500px;
}

.header1{

}

.h1-left{
  
}

.logo{
  padding: 3px 35px;
}

.h1-right{

}

.nav{

}

.nav ul{
  list-style-type: none;
}

.nav li{
  float: left;
  padding-left: 30px;

}

.nav a{
  text-decoration: none;
  color: #b2b1af;
  font-family: "ColaborateLightRegular", Arial, Helvetica, sans-serif;
}
.nav ul li a:hover{
  color: #5D5D5C;
}
.slider{
  background-color: #EDECEB;

}

.articles{

}

.footer1{

}

.footer2{

}

/* award */
.award{
  position: fixed;
  top: 0;
  right: 0;
  text-decoration: none;
}

.container{
  outline: 1px dotted gray;
}

.container > *{
  outline: 1px dotted red;
}

.container > * > *{
  outline: 1px dotted green;
}

.container > * > * > *{
  outline: 1px dotted blue;
}

.container > * > * > * > *{
  outline: 1px dotted yellow;
}
